# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Node CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  configure:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Set up NodeJS
      uses: actions/setup-node@v3.6.0
      with:
        node-version: "16.17.0"
    - name: Install Node Modules
      run:
        npm install
        
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }} 
          SONAR_TOKEN: ${{ env.SONAR_TOKEN }}
